*{
  margin: 0;
  padding: 0;
}

#form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'naslov naslov'
  'forma lista'
  'next next';
  grid-gap: .5rem;
  text-align: center;
}

#form .naslov,
#form .forma,
#form .lista{
  padding: 1rem 0;
}

#form .naslov{
  grid-area: naslov;
  text-align: center;
}

#form .forma{
  grid-area: forma;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
}

#form .lista{
  grid-area: lista;
  text-align: center;
  diplay: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;
}

#form input{
  line-height: 2rem;
  width: 80%;
  text-indent: 1rem;
}

button{
  font-size: 1.5rem;
  padding: 0.2rem 3rem;
  line-height: 2rem;
  cursor: pointer;
}

#form .ucesnik{
  outline: 1px solid grey;
  line-height: 2rem;
  width: 80%;
  text-align: left;
  margin: 0 auto 5px;
  text-indent: 5px;
}

#form .ucesnik:last-child{
  margin-bottom: 0;
}

#form .next{
  grid-area: next;
}
