*{
  margin: 0;
  padding: 0;
}

.main{
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  background-color: grey;
  line-height: 2rem;
  grid-template-areas:
  'title title title'
  'home coma away';
}

.title{
  grid-area: title;
  background-color: lightblue;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.home{
  grid-area: home;
  background-color: yellow;
  text-align: center;
}

.coma{
  grid-area: coma;
  background-color: orange;
  text-align: center;
}

.away{
  grid-area: away;
  background-color: lightgreen;
  text-align: center;
}
